<mat-toolbar color="primary" class="nav">
    <div class="example-button-container" (click)="viewUser()">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
    </div>
      <span style="margin-left: 20px;">Uredi profil</span>
      <span class="example-spacer"></span> 
    
    <div class="logo">
        <button mat-raised-button color="warn" (click)="logout()">Odjava</button>
    </div>
    
</mat-toolbar>
